@font-face {
    font-family: 'futurabookc';
    src: url(/fonts/futurabookc.woff2);
}
@font-face {
    font-family: 'proxima_nova_regular';
    src: url(/fonts/proxima_nova_regular.woff2);
}
@font-face {
    font-family: 'FuturaDemiC Regular';
    src: url(/fonts/FuturaDemiC\ Regular.otf);
}
@font-face {
    font-family: 'FuturaFuturisC Bold';
    src: url(/fonts/FuturaFuturisC\ Bold.otf);
}
@font-face {
    font-family: 'FuturaFuturisC Regular';
    src: url(/fonts/FuturaFuturisC\ Regular.ttf);
}
@font-face {
    font-family: 'FuturaLightC Regular';
    src: url(/fonts/FuturaLightC\ Regular.otf);
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}
.body{
    line-height: 122.8%;
    color: #fff;
    min-width: 100vw;
    overflow-x: hidden;
}
.header{
    padding-top: 54px;
    /* position: absolute; */
    position: fixed;
    left: 0;
    right: 0;
    max-height: 33px;
    color: #fff;
    z-index: 100;
}
.container{
    max-width: 1301px;
    padding: 0 10px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 33px;
}

.menu-lists{

    display: flex;
    column-gap: 20px;
    align-items: center;
    font-family: 'FuturaLightC Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}
.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'FuturaLightC Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.phone span{
    font-family: 'FuturaFuturisC Bold'
}
.phone__img{
    padding-right: 9px;
}

.header-content{
    height: 850px;
    background-image: url(/images/bgAdd.svg), url(/images/bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.header-content__bg{
    width: 1920px;
    height: 850px;
    background-size: cover;
}

.header-content__inner{
    position: absolute;
    max-height: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 199px;
    column-gap: 53px;
}


/* ___________header-content____START___________________________ */
.content-left{
    width: 847px;
}
.content-left h1{
    text-transform: uppercase;
    font-family: 'FuturaFuturisC Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 70.23px;
    line-height: 99.8%;
    padding-bottom: 5px;
}
.content-left span{
    font-family: 'FuturaDemiC Regular';
    text-transform: lowercase;
    color: #969AF7;
}
.content-left p{
    font-family: 'futurabookc';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 129.8%;
    color: #969AF7;
    width: 750px;
    padding-bottom: 37px;
}


.advantage-header{
    position: relative;
  }

.opp{
    background: linear-gradient(90deg, #969AF7 1.34%, rgba(150, 154, 247, 0) 96.66%);
    opacity: 0.3;
    border-radius: 10px; 
    margin-top: -155px;
    width: 835px;
    height: 150px;
}

.advantage__inner ul{
    margin-left: 31px;
    padding: 25px 10px;
    z-index: 5;
}
.advantage__inner li{
    list-style-image: url(/images/check.png);
    z-index: 5;
    padding: 5px 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 129.8%;
    color: #FFFFFF;
}



.content-right{
    width: 380px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
}

.h3{
    background-color: #6A32B4;
    padding: 32px 42px 24px 42px;
    /* padding-bottom: 24px; */
    border-radius: 7px 7px 0 0;
}
.content-right h3{
    text-align: center;
    font-family: 'FuturaFuturisC Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 27px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.text-form form{
    padding: 31px 40px 0 40px;
    font-family: 'futurabookc';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 128.91%;
    color: #626366;
}
label{
    margin-left: 20px;
    margin-bottom: 6px;
}
input{
    width: 300px;
    height: 56px;
    background: #F5F3FF;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}
input::placeholder {
    color: #BCBFC4;
    font-size: 20px;
    padding: 20px;
    padding: 21px 145px 16px 20px;
    
  }

.btn{
    width: 300px;
    height: 56px;
    border: none;
    margin-top: 24px;
    margin-bottom: 10px;
    background: #FFA500;
    border-radius: 10px;
    color: #fff;
    font-family: 'FuturaFuturisC Regular'; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    cursor: pointer;
}


.under-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 311px;
    padding-top: 7px;
    padding-left: 40px;
    padding-bottom: 36px;
}
.under-form img{
    width: 16px;
    height: 16px;
}

.under-form p{
    font-family: 'futurabookc';
    font-style: normal;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #C0C0C0;
    padding-left: 10px;
}

/* ___________header-content____END_________________________ */



/* ___________advantages____START_________________________ */


.advantage{
    background-color: #F2F2F4;
}
.adventages__text{
    text-align: center;
    padding-top: 85px;
    padding-bottom: 42px;
}

.adventages__text--title{
    color: #111111;
    font-family: 'FuturaFuturisC Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 99.8%;
    padding-bottom: 25px;
}

.adventages__text--text{
    font-family: 'futurabookc';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;color: #030303;
    text-align: center;
    padding-left: 76px;
    padding-right: 76px;
}

.advantages__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px 0px;
}

.advantages__item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 369px;
    height: 406px;
    left: 364px;
    top: 1095px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(9, 38, 192, 0.05);
    border-radius: 10px;
    background-image: url(/images/itemBG-advat.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    
}

.advantages__item img{
    width: 157px;
    height: 162.71px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.advantages__item--title{
    font-family: 'FuturaFuturisC Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #2A336C;
    padding-bottom: 14px;
}

.advantages__item--subtitle{
    font-family: 'futurabookc';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #555555;
    padding: 0;
    max-width: 305px;
    margin-bottom: 61px;
}

.production{
    margin-top: 130px;
    /* margin-bottom: 72px; */
    padding: 155px 0;
    height: 728px;
    background-image: url(/images/bg_slider2.svg), url(/images/bg_slider1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    z-index: 5;
    position: relative;

}
.production__title{
    font-family: 'FuturaFuturisC Bold';
    font-weight: 700;
    font-size: 45px;
    line-height: 99.8%;
    text-align: center;
    margin-bottom: 57px;
}

.slider{
    /* height: 174px; */
    position: relative;
    width: 100%;
    /* max-height: 174px; */

}
.slider__item{

    max-width: 242px;
    min-height: 100%;
    width: 242px;
    max-height: 174px;
    margin: 7px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    
}

.slick-track {
    display: flex !important;
    min-height: 174px;
}
.slick-slide {
    height: inherit !important;
}
.slider__item img{
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.production__text{
    padding-top: 42px;
    font-family: 'futurabookc';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
}


/* ___________advantages____END_________________________ */


/* _____________sctheme__START_________________________ */


.sctheme{
    background-image: url(/images/bg-sctheme.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 154px;
    margin-top: -65px;
    color: #ffffff;
    z-index: 4;
    position: relative;
    width: 100%;
}

.sctheme__title{
    font-family: 'FuturaFuturisC Bold'; /* изменить font */
    font-weight: 700;
    font-size: 45px;
    line-height: 99.8%;
    text-align: center;
    color: #111111;
    padding-top: 135px;
    margin-bottom: 24px;
}


.sctheme__subtitle{
    font-family: 'FuturaBookC';
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin-bottom: 46px;
}

.sctheme__items{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 30px;

}

.sctheme__item{
    background-image: url(/images/itemBgStep.svg), url(/images/step3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 439px;
    height: 269px;
    display: flex;
    flex-direction: column;
}

.title-step{
    font-family: 'FuturaFuturisC Bold';
    max-width: 235px;

}
.sctheme__item-1{
    background-image: url(/images/itemBgStep.svg), url(/images/step1.svg);
}
.sctheme__item-2{
    background-image: url(/images/itemBgStep.svg), url(/images/step2.svg);
}
.sctheme__item-3{
    background-image: url(/images/itemBgStep.svg), url(/images/step3.svg);
    width: 413px;
    height: 298px;
}
.sctheme__item-3 .title-step{
    max-width: 280px;
}
.sctheme__item-4{
    background-image: url(/images/Mask\ group.svg), url(/images/step6.svg);
    max-width: 413px;
}
.sctheme__item-5{
    background-image: url(/images/Mask\ group.svg), url(/images/step5.svg);
    width: 442px;
    margin-left: -27px
}
.sctheme__item-5 .number-title{
    padding-left: 60px;
}
.sctheme__item-5 .sctheme__discription{
    padding-left: 115px;
}
.sctheme__item-6{
    background-image: url(/images/Mask\ group.svg), url(/images/step4.svg);
    width: 442px;
    height: 268px;
    margin-left: -27px;
}
.sctheme__item-6 .number-title{
    padding-left: 60px;
}
.sctheme__item-6 .sctheme__discription{
    padding-left: 115px;
}

.number-title{
    display: flex;
    align-items: center;
    padding-left: 38px;
    padding-top: 39px;
    padding-bottom: 24px;
    font-family: 'FuturaFuturisC ';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.number-title p{
    padding-right: 16px;
    font-family: 'futurabookc';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #969AF7;
}

.sctheme__discription{
    padding-left: 90px;
    max-width: 370px;
    font-family: 'futurabookc';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;

}

.sctheme-btn{
    margin-left: 487px;
    font-family: 'FuturaFuturisC Regular';
}


/* _____________sctheme__END_________________________ */


.faq{
    max-height: 1271px;
    background-image: url(/images/bg-questionsItem.svg), url(/images/bg-questions.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1920px;
    /* background-size: 100%; */
    margin-top: -58px;
    padding-top: 144px;
}
.title-faq__inner{
    font-family: 'FuturaFuturisC Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 99.8%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 40px;
}
.faq-item{
    width: 1280px;
    margin-bottom: 13px;
    position: relative;
}

.faq-title{
    position: relative;
    display: block;
    cursor: pointer;
    padding: 30px 53px;
    color: #333333;
    background: linear-gradient(180deg, #FFFFFF 50.57%, #BDC0FF 100%);
    font-family: 'FuturaDemiC Regular';
    box-shadow: 0px 0px 50px -10px rgba(22, 126, 194, 0.2);
    border-radius: 10px;
    height: 87px;
    transition: .2s
}
.img__faq{
    display: block;
    position: absolute;
    background: url(/images/arrow.svg), url(/images/Ellipse\ 6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 40px;
    height: 40px;
    right: 37px;
    margin-top: -25px;
}





.faq-title:hover{
    background: linear-gradient(180deg, #969AF7 0%, #686EEC 100%);
    color: #ffffff;
    /* z-index: 3; */
}

.faq-input{
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.faq-input:checked ~ .faq-title{
    background: linear-gradient(180deg, #969AF7 0%, #686EEC 100%);

}
.faq-input:checked ~ .faq-text{
    display: block;
}

.faq-text{
    display: none;
    background-color: #ffffff;
    padding: 39px 53px;
    margin-top: -13px;
    margin-left: 20px;
    min-width: 1184px;
    min-width: 1260px;
    color: #333333;
    font-family: 'FuturaBookC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.faq-text p{
    margin-bottom: 30px;
}







.footer{
    background: #333333;
    height: 177px;
    padding-top: 72px;
    color: #ffffff;
}

.footer button{
    background: #969AF7;
}



@media(max-width: 1350px){
    .nav{
        justify-content: space-around;
        
    }
    .nav a{
        font-size: 80%;
    }
    .menu-lists{
        column-gap: 12px;
    }
    .phone a{
        font-size: 15px;
    }
    .header-content__inner{
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        column-gap: 0px;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1000px;
        margin: 0 auto;
    }
    .content-left{
        width: 720px;
        margin-top: -70px;
    }
    .content-left h1 {
        font-weight: 500;
        font-size: 40.23px;
        line-height: 100.8%;
    }
    .advantage__inner{
        max-width: 700px;
    }
    .advantage__inner ul{
        max-width: 500px;
        margin-left: 100px;
    }
    .advantage__inner li{
        font-size: 18px;
        align-items: flex-start;
    }
    .opp{
        margin-bottom: 5px;
    }
    .content-right {
        width: 70%;
        left: 0;
        height: 100%;
        /* width: 380px; */
        border-radius: 10px;
        border: none;
        background-color: #fff;
    }
    .content-right h3{
        padding: 5px 42px;
        font-size: 20px;
        line-height: 6px;
        /* margin-bottom: -10px;
        margin-top: -5px; */
        margin: 0 auto;
    }
    .text-form form{
        /* padding: 10px 45px 0 40px; */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .btn{
        width: 18%;
        margin-top: -2px;
    }
    .under-form{
        margin: 0 auto;
        margin-bottom: -25px;
    }
    .advantages__items{
        gap: 0;
    }
}

@media(max-width: 1000px){


    .advantages__item{
        width: 290px;
        height: 367px;
    }

}